@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Azeret Mono', 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fff;
  --secondary-color: #eee;
  --primary-highlight: #ccc;
  --secondary-highlight: #bbb;
  --border-color: #000;
  --scale-hover: scale(0.99);
  --scale-active: scale(0.97);
  --transition: all ease-out 150ms;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#overlay-root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
